@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
 --pink: #FF5F08;
 --red:#FF5555;
 --yellow: #FDE598;
}

.halftone {
    background: radial-gradient(circle at center, black 0.25rem, transparent 0);
  }
